.primary-button{

    margin-top:50px;

    padding:22px 48px;

    border:none;

    border-radius:999px;

    background:linear-gradient(
        135deg,
        #C8A24A,
        #D9B65A
    );

    color:white;

    font-size:20px;

    font-weight:700;

    cursor:pointer;

    transition:.35s;

    box-shadow:

        0 20px 50px rgba(200,162,74,.35);

}

.primary-button:hover{

    transform:

        translateY(-6px)
        scale(1.02);

    box-shadow:

        0 30px 70px rgba(200,162,74,.45);

}